.cards-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  @media screen and (min-width: 576px) {
  grid-template-columns: repeat(2, 1fr);
}

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
