/* custom colors */
$dark-blue: rgba(0, 53, 128, 1);
$light-blue: rgba(0, 113, 194, 1);

//$teal-green: #75B798;
//$gold: rgba(254, 187, 2, 1);
$white: #fff;
//$whitesmoke: whitesmoke;
$black: #1b1523;
//$gray: rgba(173, 181, 189, 1);

/* BS theme-colors override (use as text-{$color} ) */
//$primary: $dark-blue;
//$info: $light-blue;
//$success: $teal-green;
//$warning: $gold;

//
